.search-filterss{
    border: 2px solid rgb(0, 0, 0);
    margin: 3rem;
    padding: 2rem;
    border-radius: 2rem;
}

.export-button{
    border: 1px solid black;
    padding: 0.9rem;
    margin-top: 2.1rem;
    border-radius: 1rem;
}